<div class="section__events-admin-index">
  <h1>Eventos</h1>
  <br><br>
  <%= link_to 'Crear un nuevo evento', new_admin_event_path, class: "btn btn-primary" %>
  <br>
  <br>
  <br>
    <div class="row">
      <% @events.each do |evento| %>
        <div class="col-md-4 ">
          <div class="card h-100 hvr-shadow">
            <%= image_tag (evento.img), class: "card-img-top"%>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#"><%= evento.title %></a>
            </h4>
            <p class="card-text"><%= evento.description %></p>
          </div>
        <div class="row text-center p-4">
          <div class="col">
            <%= link_to "Ver",   admin_event_path(evento), class: "btn btn-info" %>    
          </div>
          <div class="col">
            <%= link_to "Editar", edit_admin_event_path(evento) ,class: "btn btn-warning" %>    
          </div>
          <div class="col">
              <%= link_to "Eliminar", admin_event_path(evento), method: :delete, data: { confirm: "¿Estás seguro de eliminar este evento?" }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>