<div class="section__show-event">
	<div class="container">
		<h1>Detalles del Producto</h1>
			<br><br>
		<div class="row">
	        <div class="col-md-7">
	        	<% if @event.img %>
              		<%= image_tag @event.img, class: "figure-img img-fluid rounded"  %>
	            <%else%>
	              <img src="https://dnw5ax76vq1gg.cloudfront.net/default.jpg" class="figure-img img-fluid rounded" alt="">
	            <% end %>
	        </div>
	        <div class="col-md-5">
	          <span>Fecha del evento: <strong><%= @event.date_event %></strong></span>
	          <p><strong>Esta en el header</strong>: 
				<% if @event.header_events = "true" %>
					Si esta
				<% else %>
					No esta
				<% end %>
	          </p>
	          <h3><%= @event.title %></h3>
	          <p><%= @event.description %></p>
	          <span><strong>Url de la imagen:</strong> <br> <%= @event.img %> </span>
	        </div>
	     </div>		
	</div>
</div>

<script>
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>