<!-- Sidebar -->
<div class="bg-primary text-white border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">
  	<div class="container">
  		<%= link_to admin_root_path do  %>
			<h3>Admin Colegio GRP</h3>	
  		<% end %>
  	</div>
	<div class="list-group list-group-flush">
		<br>
		<div class="form-group">
			<%= link_to "Inicio del Admin", admin_root_path, class: "text-white" %>
		</div>
		<br>
		<div class="form-group">
			<%= link_to "Eventos", admin_events_path, class: " text-white" %>
		</div>
		<br>
		<div class="form-group">
			<%= link_to "Centro de intereses", admin_centros_path, class: " text-white" %>
		</div>
		<div class="form-group">
			<%= link_to "Galeria", admin_images_path, class: " text-white" %>
		</div>
  	</div>
  </div>
</div>
